<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" >
  <sitecore>
    <settings>
      <!--To enable/disble components help text. Default value is false-->
      <setting name="Component.Helptext.enable" value="true" />
      <!--Default Html with keywords to replace values, only change if DOM need to change all the values with # are keywords-->
      <setting name="Component.Helptext.Container" value="&lt;div class='rendering-tool-container'&gt;&lt;div class='left-thumbnail'&gt;#HELPTEXTRENDERING&lt;/div&gt;&lt;div class='right-help-text'&gt;&lt;span class='short-help-text'&gt;#HELPTEXTSHORTDESCRIPTION&lt;/span&gt;
&lt;span class='long-help-text'&gt;#HELPTEXTLONGDESCRIPTION&lt;/span&gt;#HELPTEXTLINKURLPLACEHOLDER&lt;div&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" />
      <!--Long description help text field-->
      <setting name="Component.Helptext.Field.LongDescription" value="__Long description" />
      <!--Short description help text field-->
      <setting name="Component.Helptext.Field.ShortDescription" value="__Short description" />
      <!--Help Link field-->
      <setting name="Component.Helptext.Field.HelpLink" value="__Help link" />
      <!--Help Link URL HTML-->
      <setting name="Component.Helptext.HelpLink.html" value="&lt;a href='#HELPTEXTLINKURL' target='_balnk' class='help-link'&gt;Help Link&lt;/a&gt;" />
    </settings>
  </sitecore>
</configuration>
